<div class="container">
  <%= render 'shared/header' %>
  </br>
  </br>
  <div class="row">
    <div class="col-lg-12">
      <h2 class= 'float-left'><%= current_user.name %> Assignments!</h2>
    </div>
  </div>
  </br>
  <div class="row">
    <% if @assignments.present? %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class='text-center'>Title</th>
            <th class='text-center'>Description</th>
            <th class='text-center'>Due Date</th>
            <th class='text-center'>Uploaded File</th>
            <th class='text-center'>Upload Assignment</th>    
          </tr>
        </thead>
        <% @assignments.each do |assignment| %>
          <tbody>
            <tr>
              <td class='text-center'><%= assignment.title %></td>
              <td class='text-center'><%= assignment.description %></td>
              <td class='text-center'><%= assignment.due_date.strftime('%a %b %Y till %T') %></td>
              <td class='text-center'>
                <% if assignment.assignment_users.where(user_id: current_user.id)&.first&.file&.attached? %>
                  <%= link_to assignment.assignment_users.where(user_id: current_user.id).first.file.blob.filename, rails_blob_path(assignment.assignment_users.first.file, disposition: "attachment") %>
                <% else %>
                  Not Uploaded yet
                <% end %>
              </td>
              <td class='text-center'>
                <%= form_for :assignment_user, local: true, url: upload_file_users_path(assignment_id: assignment), method: :post, html: { class: 'form-horizontal', 'data-parsley-validate': '' } do |f| %>
                  <div class="input-group">
                    <%= f.file_field :file, required: true, class: 'form-control' %>
                    <span class="input-group-btn">
                      <%= f.submit 'Upload', class: 'btn btn-primary btn-group' %>
                    </span>
                  </div>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    <% else %>
      <h4 class='text-center'>You have not been assigned any assignment yet.</h4>
    <% end %>
  </div>
</div>