<div class="container">
  <%= render 'shared/header' %>
  </br>
  </br>
  <div class="row">
    <div class="col-lg-12">
      <h2 class= 'float-left'>Assignment Details</h2>
      <%= link_to "Back", admin_assignments_path, class: "btn btn-info float-right" %>
    </div>
  </div>
  </br>
  <div class="row">
    <% if @assignment.present? %>
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th class='text-center'>Title</th>
          <td class='text-center'><%= @assignment.title %></td>
        </tr>
        <tr>
          <th class='text-center'>Description</th>
          <td class='text-center'><%= @assignment.description %></td>
        </tr>
        <tr>
          <th class='text-center'>Due Date</th>
          <td class='text-center'><%= @assignment.due_date.strftime('%a %d %b %Y by %l:%M %p') %></td>
        </tr>
      </table>
    <% else %>
      <h4 class='text-center'>No details</h4>
    <% end %>
  </div>
  </br>
  </br>
  <div class="row">
    <div class="col-lg-12">
      <h2 class= 'float-left'>All Uploaded Assignments of users</h2>
    </div>
  </div>
  </br>
  <div class="row">
    <% if @assignment_users.present? %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class='text-center'>Name</th>
            <th class='text-center'>Email</th>
            <th class='text-center'>Assignment File</th>
            <th class='text-center'>Sumitted Date</th>
          </tr>
        </thead>
        <% @assignment_users.each do |assignment_user| %>
          <tbody>
            <tr>
              <td class='text-center'><%= assignment_user.user.name.humanize %></td>
              <td class='text-center'><%= assignment_user.user.email %></td>
              <td class='text-center'>
                <% if assignment_user.file&.attached? %>
                  <%= link_to assignment_user.file.blob.filename, rails_blob_path(assignment_user.file, disposition: "attachment") %>
                <% else %>
                  Not Uploaded yet
                <% end %>
              </td>
              <td class='text-center'><%= assignment_user.submit_date.localtime.strftime('%a %d %b %Y at %l:%M %p') %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    <% else %>
      <h4 class='text-center'>None of the users have uploaded any assignment yet.</h4>
    <% end %>
  </div>
</div>