<div class="container">
	<%= render 'shared/header' %>
	</br>
	</br>
	<div class="row">
		<h2>All Users!</h2>
	</div>
	</br>
	<div class="row">
		<% if @users.present? %>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class='text-center'>Name</th>
						<th class='text-center'>Email</th>
						<th class='text-center'>Joined Date</th>
						<th class='text-center'>Actions</th>		
					</tr>
				</thead>
				<% @users.each do |user| %>
					<tbody>
						<tr>
							<td class='text-center'><%= user.name.humanize %></td>
							<td class='text-center'><%= user.email %></td>
							<td class='text-center'><%= user.created_at.strftime('%a %b %Y at %T') %></td>
							<td class='text-center'>
							<%= link_to 'Delete', admin_user_path(user), method: :delete, class: 'btn btn-danger' %>
							</td>
						</tr>
					</tbody>
				<% end %>
			</table>
		<% else %>
			<h4 class='text-center'>There are no users who have signed up yet.</h4>
		<% end %>
	</div>
</div>