<!DOCTYPE html>
<html>
  <head>
    <title>FileUploading</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"></p>
    <p class="alert"></p>
    <% if session["flash"].present? && session["flash"]["flashes"]["alert"] == "You need to sign in or sign up before continuing." %>
      <% session["flash"] = [] %>
    <% end %>
    <%= render 'toastr_rails/flash' %>
    <%= yield %>
  </body>
</html>
